@use 'sass:map';
@use '@/shared/styles/abstracts/functions/helpers' as helper;

$colors: (
  primary: #ffffff,
  secondary: #f5f5f6,
  text: #777777,
  warning: #ff0000,
  white-deep: #414141,
  black-deep: #000000,
  blue-header: #edf6fc,
  blue-bold: #154398,
  bg-hover: rgba(0, 0, 0, 0.05),
  bg-secondary: #f5f5f5,
);
$font-families: (
  base:
    'ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","Inter", Helvetica, sans-serif,Be Vietnam Pro-Regular,  Helvetica,  sans-serif',
);
$backgrounds: (
  hover: rgba(0, 0, 0, 0.03),
  secondary: map.get($colors, bg-secondary),
);
