*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.ant-layout-header {
  line-height: 1.5;
}

.float-wrapper:hover {
  .float-action__wrapper {
    display: flex !important;
  }
}
