// padding

$max-scale-p: 80;
@for $i from 0 through $max-scale-p {
  $irem: $i * 0.1rem;
  /* padding */
  .p-#{$i} {
    padding: $irem; // 0.1, 0.2,...
  }
  /* padding-bottom */
  .pb-#{$i} {
    padding-bottom: $irem; // 0.1, 0.2,...
  }
  /* padding-top */
  .pt-#{$i} {
    padding-top: $irem; // 0.1, 0.2,...
  }
  /* padding-left */
  .pl-#{$i} {
    padding-left: $irem; // 0.1, 0.2,...
  }
  /* padding-right */
  .pr-#{$i} {
    padding-right: $irem; // 0.1, 0.2,...
  }
}

// margin

$max-scale-m: 80;
@for $i from 0 through $max-scale-m {
  $irem: $i * 0.1rem;
  /* margin */
  .m-#{$i} {
    margin: $irem; // 0.1, 0.2,...
  }
  /* margin-bottom */
  .mb-#{$i} {
    margin-bottom: $irem; // 0.1, 0.2,...
  }
  /* margin-top */
  .mt-#{$i} {
    margin-top: $irem; // 0.1, 0.2,...
  }
  /* margin-left */
  .ml-#{$i} {
    margin-left: $irem; // 0.1, 0.2,...
  }
  /* margin-right */
  .mr-#{$i} {
    margin-right: $irem; // 0.1, 0.2,...
  }
}
